<div class="container">
	<h1>Home Nail</h1>

	<div class="search">
	        <%= form_with url:root_path, method: :get, local: true do |f| %>
	          <%= f.text_field :name, class: "search-form" %>
	          <%= f.submit :検索する %>
	        <% end %>

	        <table class="search_table">
	         <% @search_nails.each do |search_nail| %>
	        	<tr>
	        		<thead>
	        			<tr>
		        		<th>商品名</th>
		        		<th>商品画像</th>
		        		<th>商品価格</th>
		        		</tr>
	        	    </thead>
	        		<tbody>
	        			<tr>
				        <td><%= search_nail.name %></td>
				        <td><%= search_nail.price %></td>
				        <td><%= attachment_image_tag search_nail,:image, :fill, 50, 50 ,format: "jpeg" %></td>
				        </tr>
	    	        </tbody>
	    	    </tr>
	         <% end %>
	        </table>
	</div>

	<div class="reviews">
		<div class="monthly">
			<% render 'nail_comments/monthly_ranking', nail_ranking: @monthly_ranking %>
		</div>
		<div class="weekly">
			<% render 'nail_comments/monthly_ranking', nail_ranking: @weekly_ranking %>
		</div>
		<div class="daily">
			<% render 'nail_comments/monthly_ranking', nail_ranking: @daily_ranking %>
		</div>
	</div>
</div>