
<div class="container">

  <% if @nail_comments.present? %>
    <% @nail_comments.each do |nail_comment| %>
        <div class="review col-md-4 mb-4">
            <div class="nail_comment">
              <p>投稿日時：<%= simple_time(nail_comment.created_at) %></p>
              <h4 class="mb-3">評価：<%= nail_comment.rate %>点 | <%= nail_comment.title %></h4>
              <div><%= attachment_image_tag nail_comment.nail,:image,:fill, 100, 100, format: "jpeg" %></div>

              <!--星評価-->
             <div id="star-rate-<%= nail_comment.nail.id %>"></div>
              <script>
              $('#star-rate-<%= nail_comment.nail.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= nail_comment.rate %>,
              });
              </script>
            <!--/星評価-->

              <p><%= nail_comment.content %></p>
            </div>
          <div class="col-md-4">
            <%= link_to nail_comment.nail.name, nail_path(nail_comment.nail_id) %>
              <div class="posts-item">
                <p><%=  nail_comment.title %></p>
              </div>
          </div>
          <div class="col-md-12 edit-button">
            <% if current_user == nail_comment.user %>
              <%= link_to '口コミを編集', edit_nail_nail_comment_path(nail_comment, @nail), method: :get, class:"btn btn-primary" %>
              <%= link_to '口コミを削除', nail_nail_comment_path(nail_comment, @nail), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class:"btn btn-primary" %>
            <% end %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>
