
<div class="container">
	<h2>マイページ</h2>

	<% @nails.each do |nail| %>
		<table class="table">
			<thead class="thead-light">
        <tr>
          <th>商品名</th>
          <th>イメージ</th>
          <th>価格</th>
          <th>商品説明</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
			<th><%= nail.name %></th>
			<th><%= attachment_image_tag nail,:image, :fill, 50, 50 ,format: "jpeg" %></th>
			<th><%= nail.price %></th>
			<th><%= nail.introduction %></th>
			<th><%= link_to "Edit", edit_nail_path(nail) %></th>
		   </tr>
		</tbody>
		</table>
	<% end %>
	<%= link_to "新規投稿", new_nail_path %>
</div>