<div class="container">
	<h1>ネイル一覧</h1>
	<% @nails.each do |nail| %>
		<div class="nail">
	        <%= link_to nail_path(nail.id) do %>
	         <%= attachment_image_tag nail,:image, :fill, 50, 50 ,format: "jpeg" %>
	         <%= nail.name %>
	        <% end %>
	          <%= nail.introduction %>
	          <%= nail.price %>
		</div>
        <%= link_to 'Show', nail %>
	    <%= link_to 'Edit', edit_nail_path(nail) %>
	    <%= link_to 'Destroy', nail, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</div>