<!DOCTYPE html>
<html>
  <head>
    <title>Homenail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
      <div class="container">
      <% if user_signed_in? %>
      <p>ようこそ　<%= current_user.last_name + current_user.first_name %>　さん！</p>
        <%= link_to "Topページ", root_path %>
        <%= link_to "マイページ", users_path %>
        <%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Topページ", root_path %>
        <%= link_to "登録はこちらから", new_user_registration_path %>
      <% end %>
      <div class="search">
        <%= form_with url:root_path, method: :get, local: true do |f| %>
          <%= f.text_field :name, class: "search-form" %>
          <%= f.submit :検索する %>
        <% end %>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
